<h2><%= @title %></h2>

<div class="container-fluid">
<h3> Custom fields</h3>
<table class="table table-striped">
  <tr>
    <th>  Field </th> 
    <th> Value </th>
  </tr>
  <% @fields.each do |f| %>
  <tr>
  <td> <%= f.keys.first %></td>
  <td> <%= f.values.first %></td>
  </tr>
  <% end %>
</table>


</div>
<div class="container-fluid">
<h3> Tags </h3>
<% @tag_info.each do |group,tags| %>
<div class="row-fluid">
  <div class="span1"> <%= group %> </div>
  <% tags.each do |tag| %>
  <div class="span1"> <%= link_to tag, inventory_path(tag) %> </div>
  <% end %>
</div>
<% end %>
</div>


<div class="container-fluid">
<h3> Attachement </h3>
<div class="row-fluid">
<% counter = 0 %>
<% @imgs.each do |img| %>
<div class="span4">
  <% counter += 1 %>
  <%= image_tag img[:path], :width => 200, :height => 200, :alt => img[:alt] %>
</div>

<% if counter == 2 %>
<% then %>
<% counter = 0 %>
</div>
<div class="row-fluid">
<% end %>
<% end %>

</div>


</div>



