<h1><%= @title %></h1>
<% ks = %w[description priority workflow_state_name tags created_by user] %>
<table class="table table-striped">
<tr>
  <% ks.each do |k| %>
  <th><%= k %></th>
  <% end %>
  <th> activity </th>
  <th> details </th>
</tr>

  <% @tasks.each do |t| %>
  <tr>
    <% ks.each do |k| %>
    <td><%= t[k]  %></td>
    <% end %>
    <td><%= link_to "activity",activity_path(:task,t["id"]) %>   </td>
    <td><%= link_to "details", item_path("#{t['id']}-#{t['description']}") %></td>
  </tr>
  <% end %>
</table>
