<h1><%= @title %></h1>
<% ks = %w[description priority workflow_state_name tags created_by user] %>


<table class="table table-striped">
<tr>
  <% ks.each do |k| %>
  <th><%= k %></th>
  <% end %>
  <th> activity </th>
  <th> details </th>
  <th> images </th>
</tr>

  <% @tasks.each do |t| %>
  <tr>
    <% ks.each do |k| %>
    <td><%= t[k]  %></td>
    <% end %>
    <td><%= link_to "activity",activity_path(:task,t["id"]) %>   </td>
    <td><%= link_to "details", item_path("#{t['id']}-#{t['description']}") %></td>
    <td>
      <% if t[:imgs].length > 0 %>
      <div id="gallery" data-toggle="modal-gallery" data-target="#modal-gallery">
        <a href="<%= t[:imgs][0][:path]%>" title="<%= t[:imgs][0][:alt] %>" rel="gallery">
          <%= image_tag t[:imgs][0][:thumb_path], :width => 100, :height => 100, :alt => t[:imgs][0][:alt] %>
        </a>
        
        <% t[:imgs][1..-1].each do |img| %>
        <a href="<%= img[:path]%>" title="<%= img[:alt] %>" rel="gallery" style="display: none;">
          <%= image_tag img[:thumb_path], :width => 100, :height => 100, :alt => img[:alt] %>
        </a>
        <% end %>
      </div>
      <% end %>
    </td>
  </tr>
  <% end %>
</table>


<!-- modal-gallery is the modal dialog used for the image gallery -->
<div id="modal-gallery" class="modal modal-gallery hide fade modal-loading">
    <div class="modal-header">
        <a class="close" data-dismiss="modal">&times;</a>
        <h3 class="modal-title"></h3>
    </div>
    <div class="modal-body"><div class="modal-image"></div></div>
    <div class="modal-footer">
        <a class="btn btn-primary modal-next">Next <i class="icon-arrow-right icon-white"></i></a>
        <a class="btn btn-info modal-prev"><i class="icon-arrow-left icon-white"></i> Previous</a>
        <a class="btn btn-success modal-play modal-slideshow" data-slideshow="5000"><i class="icon-play icon-white"></i> Slideshow</a>
        <a class="btn modal-download" target="_blank"><i class="icon-download"></i> Download</a>
    </div>
</div>
