<!DOCTYPE html>
<html>
<head>
  <title>Task Observe</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
 <%= csrf_meta_tags %>
</head>
<body>
<body id="task">
  <div id="banner">
    <%= @page_title || "Welcome to Taskobserve, #{@user.name}" %><!-- <label id="code.depot.e.title"/> -->
            <%= link_to "Logout",logout_path, :method => :delete %>
  </div>
  <div id="columns">
    <div id="side">
      <a href="">Inventory</a><br />
      <a href="">Activity</a><br />
      <a href="">Membership</a><br />
      <a href="">Payment</a><br />

    </div>
    <div id="main">
      <%= yield %><!-- <label id="code.depot.e.include"/> -->
    </div>
  </div>



</body>
</html>
