<!DOCTYPE html>
<html>
<head>
  <title>Task Observe</title>
  <%= stylesheet_link_tag    "bootstrap", :media => "all" %>
  <%= javascript_include_tag "bootstrap" %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="container">
<div class="hero-unit">
<% if @user %>
<% then %>
  <%= link_to "Logout",logout_path, :method => :delete %>
<% end %>
<%= yield %>
</div>
</div>
</body>
</html>
