<h2> <%= @title %> </h2>
<h3> Workspaces </h3>
<div class="container" id = "workspaces_container">
Loading ... 
</div>
<h3> Tasks </h3>
<div class="container" id = "tasks_container">
Loading ...
</div>

<h3> Activity </h3>
<div class="container" id = "activity_container">
Loading ...
</div>
<%= javascript_include_tag "membership" %> 

<%= coffee_script_tag do %>

window.get_real_data("#workspaces_container","<%= membership_shared_tags_path(params[:id])%>")
window.get_real_data("#tasks_container","<%= membership_tasks_path(params[:id])%>")
window.get_real_data("#activity_container","<%= membership_activities_path(params[:id])%>")

<% end %>


